@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&display=swap');
* {
    font-family: 'Mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    margin-bottom: 40px ;
    gap: 500px;

}
.logo-title{
    display: flex;
    gap: 10px;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    margin-top:30px;
    align-items: center;

}
nav img{
    width: 48px;
    height: 56px;
}
nav div >ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 60px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
}
.orange{
    font-weight: 700;
    color: #FF5400;
}
.bd{
    color: #FF5400;
    font-weight: 800;
    font-size:2rem;
}
.travel{
    color: #131318;
    font-weight: 800;
    font-size:2rem;
}
.banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    margin-bottom: 40px ;
    border-radius: 16px;
    background-blend-mode: multiply;
    text-align: center;
    justify-content: center;
}
.Explore{
    color: #FFF;
    font-size: 4rem;
    width: 596px;
    height:70px ;
    font-weight: 800;
    padding-top: 100px;
    margin-left: 280px;
}
.banner-pra{
    color: #FFF;
    font-size: 1rem;
    width: 550px;
    height: 50px;
    font-weight:400;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: 295px;
}
.input{
    display:inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}
.search{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
}
#Where ,#when ,#select{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
}
.about-us{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 67px;
    gap:150px;
    margin-bottom: 80px;
}
.mont{
    width: 540px;
height: 550px;
border-radius: 16px;
}
.body head{
    color: #131318;
    font-weight: 800;
    font-size:3rem;

}
.about-us-pra{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.Destination{
    text-align: center;
}
.row{
    display: flex;
    gap:24px ;
    width: 573px;
    height: 300px;
    border-radius: 16px;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 67px;
    margin-bottom: 24px;
}
.row-img{
    display: flex;
    gap: 24px ;  
    margin-left: 100px;
    margin-right: 67px;
    margin-bottom: 24px;
}
.row-imgs{
    display: flex;
    gap: 24px ;  
    margin-left: 100px;
    margin-right: 67px;
}
.why-choose-us{
    text-align: center;
    margin-left: 150px;
    margin-right: 120px;
    margin-top: 50px;
}
.hotelservice{
    display: flex;
    gap: 600px;
}
h3{
    color: #131318; 
    font-weight: 800;
    font-size: 1.5rem;
}
.Newsletter{
    display: flex;
    margin-left: 110px;
    margin-right: 100px;
    align-items: center;
    margin-bottom: 100px ;
    border-radius: 16px;
    gap: 40px;
    margin-top: 60px ;
}
.form{
    width: 474px;
height: 380px;
border-radius: 16px;
border: 1px solid #FF5400;
display: flex;
flex-direction: column;
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;
gap:10px;
margin-top: 35px ;
margin-bottom: 40px;
padding-bottom: 15px;
}
.img-8{
    width: 672px;
height: 422px;
margin-bottom: 40px;
margin-top:25px;
}
.line-1{
    width: 393px;
height: 1px;
background-color: #FF5400;
}
.email , .name , .sub{
    width: 393px;
height: 52px;
border-radius: 8px;
border: none;
}
.sub{
    color: #FFF;
    font-size: 1.2erm;
    font-weight: 800;
    background: #FF5400;

}
.save{
    width: 250px;
height: 80px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
color: #FFF;
text-align: center;
padding-top: 3px;
padding-bottom: 10px;
margin: 0 px;
position: relative;
bottom: 150px;
left: 410px;
}
.fotter{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    width: 1320px;
    height: 24px;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.line{
    width: 1000px;
    height: 2px;
    background-color: #FF5400;
    margin-bottom: 30px;
    margin-left: 180px ;
}
.end{
    text-align: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    nav li{
       display: none; 
    }
    nav{
        display: flex;
        gap:300px;
        width: 550px;
        height: 64px;
        margin-left: 20px;
        margin-top: 20px ;
    }
    .bars{
        width: 24px;
        height: 24px;

    }
    .banner{
        background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        width: 550px;
        height: 483px;
        margin-top: 0px;
        margin-left:20px;
        margin-right: 20px;
        align-items: center;
        margin-bottom: 20px ;
        border-radius: 16px;
        background-blend-mode: multiply;
        text-align: center;
        justify-content: center;
        background: size 900px 550px;
        background-position: center;
        display: flex;
        flex-direction: column;
    }
    .Explore{
            color: #FFF;
            font-size: 1.2rem;
            font-weight: 800;
            margin-left: 60px;
            margin-right: 60px;
            margin-top:50px;
            padding-top: 15px;
        }
        .banner-pra{
            color: #FFF;
            font-size: 1rem;
            width: 305px;
            height: 63px;
            font-weight:400;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 20px;
        }
        .input{
            display:flex;
            flex-direction: column;
            padding: 16px;
            align-items: flex-start;
            gap: 24px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.30);
            gap: 16px;
            margin-bottom: 50px;
        
        }
        .about-us{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 20px;
            margin-right: 67px;
            gap:50px;
            margin-bottom: 80px;
        }
        .row{
            display: flex;
            flex-direction: column;
            gap:16px ;
            width: 573px;
            height: 300px;
            border-radius: 16px;
            align-items: center;
            margin-top: 50px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 330px;
        }
        .row-img{
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            align-items: center;
           
       
        }
        .row-img  img{
            width: 573px;
            height: 300px;
            border-radius: 16px;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
        }
        .row-imgs{
            display: flex;
            flex-direction: column;
            margin-bottom:50px ;
            margin-left: 20px;
        }
        .row-imgs img{
            width: 573px;
            height: 300px;
            border-radius: 16px;
            align-items: center;
            margin-right: 20px;
        }
        .hotelservice{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .Newsletter{
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            margin-right: 20px;
            align-items: center;
            margin-bottom: 5px ;
            border-radius: 16px;
            gap: 25px;
            margin-top:30px ;
        }
        .img-8 img{
            width:573px;
            height: 300px;
            border-radius: 16px;
            align-items: center;
            margin-left: 50px;
            margin-right: 20px;
        }
        .form{
            width: 474px;
        height: 380px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 25px;
        gap:10px;
        margin-top: 35px ;
        padding-bottom: 15px;
        margin-bottom: 0px;
        }
        .save{
            width: 250px;
        height: 80px;
        transform: rotate(-19.628deg);
        border-radius: 16px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 10px;
        margin: 0 px;
        position: relative;
        bottom:135px;
        left: 250px;
        }
        .fotter{
            display: flex;
            flex-direction: column;
            margin-top:0px;
            text-align: center;
            justify-content: center;
            margin-left: 100px;
            margin-right: 100px;
        }
        .footer-logo{
            display: flex;
            justify-content: center;
            width:174px;
            height:24px;
            gap: 20px;
            margin-bottom: 30px;
            margin-top: 20px;
            margin-left: 225px;
            margin-right: 100px;

        }
        .line{
            width: 400px;
            height: 2px;
            background-color: #FF5400;
            margin-bottom: 30px;
            margin-left: 100px ;
        }
        .end{
            text-align: center;
            margin-bottom: 50px;
        }

        }




@media only screen and (min-width: 601px) {
       .bars{
        display: none;
       }

}