@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&display=swap');
* {
    font-family: 'Mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    margin-bottom: 40px ;

}
.logo-title{
    display: flex;
    gap: 10px;
    width: 100px;
    height: 30px;
    padding-bottom: 30px;

}
nav img{
    width: 48px;
    height: 56px;
}
nav div >ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 40px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
}
.orange{
    font-weight: 700;
    color: #FF5400;
}
.bd{
    color: #FF5400;
    font-weight: 800;
    font-size:2rem;
}
.travel{
    color: #131318;
    font-weight: 800;
    font-size:2rem;
}
.banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    margin-bottom: 40px ;
    border-radius: 16px;
    background-blend-mode: multiply;
    text-align: center;
    justify-content: center;
}
.Explore{
    color: #FFF;
    font-size: 4rem;
    width: 596px;
    height:70px ;
    font-weight: 800;
    padding-top: 100px;
    margin-left: 280px;
}
.banner-pra{
    color: #FFF;
    font-size: 1rem;
    width: 550px;
    height: 50px;
    font-weight:400;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: 295px;
}
.input{
    display:inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}
.search{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
}
#Where ,#when ,#select{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
}
.about-us{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 67px;
    gap:150px;
}
.mont{
    width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;
}
#about-us{
    color: #131318;
    font-weight: 800;
    font-size:3rem;

}